<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chm.book.blog.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.chm.book.blog.domain.HitFileInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="locale" jdbcType="VARCHAR" property="locale" />
    <result column="corpus" jdbcType="VARCHAR" property="corpus" />
    <result column="fileurl" jdbcType="VARCHAR" property="fileurl" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="comparekey" jdbcType="VARCHAR" property="comparekey" />
    <result column="hitInternalName" jdbcType="VARCHAR" property="hitinternalname" />
    <result column="metadata" jdbcType="DOUBLE" property="metadata" />
    <result column="check_time" jdbcType="BIGINT" property="checkTime" />
    <result column="upload_time" jdbcType="BIGINT" property="uploadTime" />
    <result column="validation" jdbcType="INTEGER" property="validation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="hitid" jdbcType="INTEGER" property="hitid" />
    <result column="review_taskid" jdbcType="INTEGER" property="reviewTaskid" />
    <result column="review_hitid" jdbcType="INTEGER" property="reviewHitid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chm.book.blog.domain.HitFileInfo">
    <result column="json_string" jdbcType="LONGVARCHAR" property="jsonString" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, project_id, locale, corpus, fileurl, filename, comparekey, hitInternalName, metadata, 
    check_time, upload_time, validation, status, taskid, hitid, review_taskid, review_hitid
  </sql>
  <sql id="Blob_Column_List">
    json_string
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chm.book.blog.domain.HitFileInfo">
    insert into file_info (ID, project_id, locale, 
      corpus, fileurl, filename, 
      comparekey, hitInternalName, metadata, 
      check_time, upload_time, validation, 
      status, taskid, hitid, 
      review_taskid, review_hitid, json_string
      )
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{locale,jdbcType=VARCHAR}, 
      #{corpus,jdbcType=VARCHAR}, #{fileurl,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{comparekey,jdbcType=VARCHAR}, #{hitinternalname,jdbcType=VARCHAR}, #{metadata,jdbcType=DOUBLE}, 
      #{checkTime,jdbcType=BIGINT}, #{uploadTime,jdbcType=BIGINT}, #{validation,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{hitid,jdbcType=INTEGER}, 
      #{reviewTaskid,jdbcType=INTEGER}, #{reviewHitid,jdbcType=INTEGER}, #{jsonString,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chm.book.blog.domain.HitFileInfo">
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="locale != null">
        locale,
      </if>
      <if test="corpus != null">
        corpus,
      </if>
      <if test="fileurl != null">
        fileurl,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="comparekey != null">
        comparekey,
      </if>
      <if test="hitinternalname != null">
        hitInternalName,
      </if>
      <if test="metadata != null">
        metadata,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="validation != null">
        validation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="hitid != null">
        hitid,
      </if>
      <if test="reviewTaskid != null">
        review_taskid,
      </if>
      <if test="reviewHitid != null">
        review_hitid,
      </if>
      <if test="jsonString != null">
        json_string,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="locale != null">
        #{locale,jdbcType=VARCHAR},
      </if>
      <if test="corpus != null">
        #{corpus,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="comparekey != null">
        #{comparekey,jdbcType=VARCHAR},
      </if>
      <if test="hitinternalname != null">
        #{hitinternalname,jdbcType=VARCHAR},
      </if>
      <if test="metadata != null">
        #{metadata,jdbcType=DOUBLE},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="validation != null">
        #{validation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="hitid != null">
        #{hitid,jdbcType=INTEGER},
      </if>
      <if test="reviewTaskid != null">
        #{reviewTaskid,jdbcType=INTEGER},
      </if>
      <if test="reviewHitid != null">
        #{reviewHitid,jdbcType=INTEGER},
      </if>
      <if test="jsonString != null">
        #{jsonString,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="locale != null">
        locale = #{locale,jdbcType=VARCHAR},
      </if>
      <if test="corpus != null">
        corpus = #{corpus,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        fileurl = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="comparekey != null">
        comparekey = #{comparekey,jdbcType=VARCHAR},
      </if>
      <if test="hitinternalname != null">
        hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      </if>
      <if test="metadata != null">
        metadata = #{metadata,jdbcType=DOUBLE},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="validation != null">
        validation = #{validation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="hitid != null">
        hitid = #{hitid,jdbcType=INTEGER},
      </if>
      <if test="reviewTaskid != null">
        review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      </if>
      <if test="reviewHitid != null">
        review_hitid = #{reviewHitid,jdbcType=INTEGER},
      </if>
      <if test="jsonString != null">
        json_string = #{jsonString,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    set project_id = #{projectId,jdbcType=INTEGER},
      locale = #{locale,jdbcType=VARCHAR},
      corpus = #{corpus,jdbcType=VARCHAR},
      fileurl = #{fileurl,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      comparekey = #{comparekey,jdbcType=VARCHAR},
      hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      metadata = #{metadata,jdbcType=DOUBLE},
      check_time = #{checkTime,jdbcType=BIGINT},
      upload_time = #{uploadTime,jdbcType=BIGINT},
      validation = #{validation,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=INTEGER},
      hitid = #{hitid,jdbcType=INTEGER},
      review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      review_hitid = #{reviewHitid,jdbcType=INTEGER},
      json_string = #{jsonString,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    set project_id = #{projectId,jdbcType=INTEGER},
      locale = #{locale,jdbcType=VARCHAR},
      corpus = #{corpus,jdbcType=VARCHAR},
      fileurl = #{fileurl,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      comparekey = #{comparekey,jdbcType=VARCHAR},
      hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      metadata = #{metadata,jdbcType=DOUBLE},
      check_time = #{checkTime,jdbcType=BIGINT},
      upload_time = #{uploadTime,jdbcType=BIGINT},
      validation = #{validation,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=INTEGER},
      hitid = #{hitid,jdbcType=INTEGER},
      review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      review_hitid = #{reviewHitid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.chm.book.blog.domain.HitFileInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="locale" jdbcType="VARCHAR" property="locale" />
    <result column="corpus" jdbcType="VARCHAR" property="corpus" />
    <result column="fileurl" jdbcType="VARCHAR" property="fileurl" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="comparekey" jdbcType="VARCHAR" property="comparekey" />
    <result column="hitInternalName" jdbcType="VARCHAR" property="hitinternalname" />
    <result column="metadata" jdbcType="DOUBLE" property="metadata" />
    <result column="check_time" jdbcType="BIGINT" property="checkTime" />
    <result column="upload_time" jdbcType="BIGINT" property="uploadTime" />
    <result column="validation" jdbcType="INTEGER" property="validation" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="hitid" jdbcType="INTEGER" property="hitid" />
    <result column="review_taskid" jdbcType="INTEGER" property="reviewTaskid" />
    <result column="review_hitid" jdbcType="INTEGER" property="reviewHitid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chm.book.blog.domain.HitFileInfo">
    <result column="json_string" jdbcType="LONGVARCHAR" property="jsonString" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, project_id, locale, corpus, fileurl, filename, comparekey, hitInternalName, metadata, 
    check_time, upload_time, validation, status, taskid, hitid, review_taskid, review_hitid
  </sql>
  <sql id="Blob_Column_List">
    json_string
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from file_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from file_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chm.book.blog.domain.HitFileInfo">
    insert into file_info (ID, project_id, locale, 
      corpus, fileurl, filename, 
      comparekey, hitInternalName, metadata, 
      check_time, upload_time, validation, 
      status, taskid, hitid, 
      review_taskid, review_hitid, json_string
      )
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{locale,jdbcType=VARCHAR}, 
      #{corpus,jdbcType=VARCHAR}, #{fileurl,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{comparekey,jdbcType=VARCHAR}, #{hitinternalname,jdbcType=VARCHAR}, #{metadata,jdbcType=DOUBLE}, 
      #{checkTime,jdbcType=BIGINT}, #{uploadTime,jdbcType=BIGINT}, #{validation,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{hitid,jdbcType=INTEGER}, 
      #{reviewTaskid,jdbcType=INTEGER}, #{reviewHitid,jdbcType=INTEGER}, #{jsonString,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chm.book.blog.domain.HitFileInfo">
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="locale != null">
        locale,
      </if>
      <if test="corpus != null">
        corpus,
      </if>
      <if test="fileurl != null">
        fileurl,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="comparekey != null">
        comparekey,
      </if>
      <if test="hitinternalname != null">
        hitInternalName,
      </if>
      <if test="metadata != null">
        metadata,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="validation != null">
        validation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="hitid != null">
        hitid,
      </if>
      <if test="reviewTaskid != null">
        review_taskid,
      </if>
      <if test="reviewHitid != null">
        review_hitid,
      </if>
      <if test="jsonString != null">
        json_string,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="locale != null">
        #{locale,jdbcType=VARCHAR},
      </if>
      <if test="corpus != null">
        #{corpus,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="comparekey != null">
        #{comparekey,jdbcType=VARCHAR},
      </if>
      <if test="hitinternalname != null">
        #{hitinternalname,jdbcType=VARCHAR},
      </if>
      <if test="metadata != null">
        #{metadata,jdbcType=DOUBLE},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="validation != null">
        #{validation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="hitid != null">
        #{hitid,jdbcType=INTEGER},
      </if>
      <if test="reviewTaskid != null">
        #{reviewTaskid,jdbcType=INTEGER},
      </if>
      <if test="reviewHitid != null">
        #{reviewHitid,jdbcType=INTEGER},
      </if>
      <if test="jsonString != null">
        #{jsonString,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="locale != null">
        locale = #{locale,jdbcType=VARCHAR},
      </if>
      <if test="corpus != null">
        corpus = #{corpus,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        fileurl = #{fileurl,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="comparekey != null">
        comparekey = #{comparekey,jdbcType=VARCHAR},
      </if>
      <if test="hitinternalname != null">
        hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      </if>
      <if test="metadata != null">
        metadata = #{metadata,jdbcType=DOUBLE},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=BIGINT},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=BIGINT},
      </if>
      <if test="validation != null">
        validation = #{validation,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="hitid != null">
        hitid = #{hitid,jdbcType=INTEGER},
      </if>
      <if test="reviewTaskid != null">
        review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      </if>
      <if test="reviewHitid != null">
        review_hitid = #{reviewHitid,jdbcType=INTEGER},
      </if>
      <if test="jsonString != null">
        json_string = #{jsonString,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    set project_id = #{projectId,jdbcType=INTEGER},
      locale = #{locale,jdbcType=VARCHAR},
      corpus = #{corpus,jdbcType=VARCHAR},
      fileurl = #{fileurl,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      comparekey = #{comparekey,jdbcType=VARCHAR},
      hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      metadata = #{metadata,jdbcType=DOUBLE},
      check_time = #{checkTime,jdbcType=BIGINT},
      upload_time = #{uploadTime,jdbcType=BIGINT},
      validation = #{validation,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=INTEGER},
      hitid = #{hitid,jdbcType=INTEGER},
      review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      review_hitid = #{reviewHitid,jdbcType=INTEGER},
      json_string = #{jsonString,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chm.book.blog.domain.HitFileInfo">
    update file_info
    set project_id = #{projectId,jdbcType=INTEGER},
      locale = #{locale,jdbcType=VARCHAR},
      corpus = #{corpus,jdbcType=VARCHAR},
      fileurl = #{fileurl,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      comparekey = #{comparekey,jdbcType=VARCHAR},
      hitInternalName = #{hitinternalname,jdbcType=VARCHAR},
      metadata = #{metadata,jdbcType=DOUBLE},
      check_time = #{checkTime,jdbcType=BIGINT},
      upload_time = #{uploadTime,jdbcType=BIGINT},
      validation = #{validation,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      taskid = #{taskid,jdbcType=INTEGER},
      hitid = #{hitid,jdbcType=INTEGER},
      review_taskid = #{reviewTaskid,jdbcType=INTEGER},
      review_hitid = #{reviewHitid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>