<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chm.book.oauth2.mapper.ClientDetailsMapper">
    <resultMap id="resultMap" type="com.chm.book.oauth2.domain.OauthClientDetails">
      <result column="client_id" property="clientId" jdbcType="VARCHAR"/>
      <result column="client_secret" property="clientSecret" jdbcType="VARCHAR"/>
      <result column="resource_ids" property="resourceIds" jdbcType="VARCHAR"/>
      <result column="scope" property="scope" jdbcType="VARCHAR"/>
      <result column="authorized_grant_types" property="authorizedGrantTypes" jdbcType="VARCHAR"/>
      <result column="web_server_redirect_uri" property="registeredRedirectUris" jdbcType="VARCHAR"/>
      <result column="authorities" property="authorities" jdbcType="VARCHAR"/>
      <result column="access_token_validity" property="accessTokenValiditySeconds" jdbcType="INTEGER"/>
      <result column="refresh_token_validity" property="refreshTokenValiditySeconds" jdbcType="INTEGER"/>
      <result column="additional_information" property="additionalInformation" jdbcType="VARCHAR"/>
      <result column="autoapprove" property="autoApproveScopes" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectClientDetails" resultMap="resultMap">
      select client_id, client_secret, resource_ids, scope, authorized_grant_types, web_server_redirect_uri, authorities, access_token_validity, refresh_token_validity, additional_information, autoapprove from oauth_client_details
      where client_id = #{clientId}
    </select>

    <select id="selectClientDetailsByUsername" resultMap="resultMap">
        select client_details.*
        from oauth_client_details client_details
        INNER join oauth_client_group client_group on client_details.client_id = client_group.client_id where client_group.username = #{username}
    </select>
</mapper>
