<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chm.book.blog.mapper.UserMapper">
    <resultMap id="resultMap" type="com.chm.book.blog.domain.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="authorities" property="authorities" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByUsername" resultMap="resultMap">
        SELECT * FROM ming_blog.user bloguser where bloguser.username = #{username}
    </select>

    <select id="findById" resultMap="resultMap">
        SELECT * FROM ming_blog.user bloguser where bloguser.id = ${id}
    </select>

    <insert id="insert" parameterType="com.chm.book.blog.domain.SysUser" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user (username, password, email)
        values (#{username}, #{password}, #{email})
        ON DUPLICATE KEY UPDATE
        username = values(username), password = values(password), email = values(email)
    </insert>

</mapper>
